*.iobj
*.ipdb
*.ilk
*.exp
*.pdb
*.tmp
*.exe
*.lib
*.log
*.md
*.txt
*.dsp
*.c
*.tlog
*.obj
*.idb
*.dsw
Externals/StbImage/
*.aps
*.res
Intermediate/
Bin/x86/CE_Core.dll
Bin/x64/Utilities.dll
Bin/x64/Inputs.dll
GraphicsLib/GraphicsLib.rc
Bin/x86/Utilities.dll
Bin/x86/Inputs.dll
Bin/x86/GraphicsLib.dll
*.dll
*.filters
*.user
